
.photoUnorderedList {
  display: flex;
  flex-wrap: wrap;
}

.photoList {
  height: 440px;
  flex-grow: 1;
}

/* li:last-child {
  height: 20px;
  flex-grow: 5;
} */

.photoList img {
  min-height: 75%;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.medPhoto {
  min-height: 83%;
  max-height: 100%;  
}

.tallPhoto {
  min-height: 88%;
  max-height: 100%;
}

.fullPhoto {
  min-height: 95%;
  max-height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    height: 672px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    font-family: 'Roboto Slab', sans-serif;
} 

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

.patter {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-size: 1.25em;
}

.patterBottom {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-size: 1.25em;
}

/* Portrait */

@media only screen 
  and (max-width : 1300px) {

    .date {
      font-size: 1.05em;
    }
}

@media only screen 
  and (max-width : 1300px) {

    li {
      height: unset;
    }

    ul {
      flex-direction: row;
    }

    li img {
      width: 100%;
      min-height: 49vh; 
      max-height: 57vh;
      min-width: 0;
    }   
}

@media only screen 
  and (max-width : 545px) {

    .patter {
      font-size: 1.1em;
    }
}

@media only screen 
  and (max-width : 485px) {

    .date {
      font-size: 0.9em;
    }

    .patter {
      font-size: 1em;
    }
}

@media only screen 
  and (max-width : 450px) {

    .title {
      font-size: 1.5em;
    }
}

@media only screen 
  and (max-width : 335px) {

    .date {
      font-size: 0.8em;
    }

    .patter {
      font-size: 0.9em;
    }
}

@media only screen 
  and (max-width : 290px) {

    .title {
      font-size: 1em;
    }

}